Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gsm0710-1.0.pc
install-sh
libtool
ltmain.sh
missing
.deps
.libs
*.lo
*.la
stamp-h1
